body {
    margin: 0px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 512px;
}

form * {
    display: block;
    margin-top: 10px;
}

h2 {
    margin-top: 0;
}

input {
    border-radius: 32px;
    border: none;
    padding-left: 10px;
    height: 32px;
    width: 100%;    
}