<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet" />
    <link rel="stylesheet" href="static/login.css">
    <link rel="stylesheet" href="static/style.css">
    <title>Login</title>
</head>
<body>
    <main>
        <div class="container">
            <h2>Login to Nowotion</h2>
            <form action="/login" method="post">
                <label for="email">Email</label>
                <input type="text" name="email">
                <label for="email">Password</label>
                <input type="password" name="password">
                <input type="submit" value="Login" />
            </form>

            <div style="display: flex; align-items:center;">
                <p style="margin-right: 10px;"><i>New to Nowotion?</i></p>
                <a href="/register">Create an account</a>
            </div>
        </div>
    </main>
</body>
</html>